<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">List of Webinar</h1>

    <div id="list-seminar"></div>
    
    <% dataSeminar.dataSeminar.forEach(dataByCategory => { %>
        <p class="mb-4">Category of : <%= dataByCategory.category.charAt(0).toUpperCase() + dataByCategory.category.slice(1) %></p>
        <div class="row">
            <% dataByCategory.data.forEach(data => { %>
                <div class="col-xl-2 col-md-6 mb-4">
                    <a class="card shadow mb-4 rounded" href="<%= data.linkSeminar %>">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Seminar</h6>
                        </div>
                        <div style="position: relative; ">
                            <img class="card-img-bottom" src="<%= data.imageSrcSeminar %>" alt="Card image cap" style="height:12rem; object-fit: cover;">
                            <div class="d-flex position-absolute fixed-bottom w-100 h-100 rounded"  style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 100%);"></div>
                            <div class="d-flex position-absolute fixed-bottom px-3">
                                <p class="text-white"><%= data.judulSeminar %></p>
                            </div>
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>
    <% }) %>
    
</div>
<!-- /.container-fluid -->

<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

    const BASE_URL = 'http://localhost:3000';
    const PATH_API_SEMINAR = '/scrape/seminar-new';

    const getDataSeminarFromAPI = async (page = 1, limit = 10) => {
        try {
            const res = await axios.get(`${BASE_URL + PATH_API_SEMINAR}?page=${page}&limit=${limit}`)
            return res.data
        } catch (error) {
            console.log(error.message)
        }
    }

    const start = async () => {
        const data = await getDataSeminarFromAPI()
        console.log(data)
    }

    start()
    
</script> -->

